@import '../../node_modules/bulma/bulma';

$revealBlue: '#0E3E59';
$revealDarkBlue: '#0D2C54';
$revealLightBlue: '#17A0E8';
$revealGreen: '#20bf55';
$grayBgColor: #f5f5f5;
$info: $revealBlue;

.request-demo-modal {
  width: 400px;
  padding: 0;
  border-radius: 2px;
  button {
    cursor: pointer;
  }
}

.custom-gray-bg {
  background-color: $grayBgColor;
}

.is-large {
  .hero-body, .hero-body:before  {
    height: 600px;
    
  }
  .title,
  .subtitle,
  #request-demo {
    width: 80%;
  }
}

.is-medium {
  .hero-body {
    height: 320px;
  }
}

.post-header {
  .title, .subtitle {
    width: 100%;
  }
   .hero-body {
    &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0.5;
    background: #000;
    }
  }
}

.product-header {
	.hero-body {
		background-position: 24% 100%;
	}
	@media screen and (max-width: 768px) {
		.hero-body {
			background-position: right;
		}
	}
}


.spinner {
	width: 50px;
	height: 40px;
	text-align: center;
	font-size: 10px;
  }
  
  .spinner > div {
	background-color: #fff;
	height: 100%;
	width: 6px;
	display: inline-block;
	margin: 0 0.3px;
	
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
	20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
	0%, 40%, 100% { 
	  transform: scaleY(0.4);
	  -webkit-transform: scaleY(0.4);
	}  20% { 
	  transform: scaleY(1.0);
	  -webkit-transform: scaleY(1.0);
	}
  }

  .sk-folding-cube {
	margin: 20px auto;
	width: 16px;
	height: 16px;
	position: relative;
	-webkit-transform: rotateZ(45deg);
			transform: rotateZ(45deg);
	&:hover {
		&.sk-cube:before {
			-webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
					animation: sk-foldCubeAngle 2.4s infinite linear both;
			-webkit-transform-origin: 100% 100%;
				-ms-transform-origin: 100% 100%;
					transform-origin: 100% 100%;
		  }
	}		
  }
  
  .sk-folding-cube .sk-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
			transform: scale(1.1); 
  }

  .sk-folding-cube .sk-cube:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #333;
	// -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
	// 		animation: sk-foldCubeAngle 2.4s infinite linear both;
	// -webkit-transform-origin: 100% 100%;
	// 	-ms-transform-origin: 100% 100%;
	// 		transform-origin: 100% 100%;
  }
  .sk-folding-cube .sk-cube2 {
	-webkit-transform: scale(1.1) rotateZ(90deg);
			transform: scale(1.1) rotateZ(90deg);
  }
  .sk-folding-cube .sk-cube3 {
	-webkit-transform: scale(1.1) rotateZ(180deg);
			transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
	-webkit-transform: scale(1.1) rotateZ(270deg);
			transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
	-webkit-animation-delay: 0.3s;
			animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
	-webkit-animation-delay: 0.6s;
			animation-delay: 0.6s; 
  }
  .sk-folding-cube .sk-cube4:before {
	-webkit-animation-delay: 0.9s;
			animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
	0%, 10% {
	  -webkit-transform: perspective(140px) rotateX(-180deg);
			  transform: perspective(140px) rotateX(-180deg);
	  opacity: 0; 
	} 25%, 75% {
	  -webkit-transform: perspective(140px) rotateX(0deg);
			  transform: perspective(140px) rotateX(0deg);
	  opacity: 1; 
	} 90%, 100% {
	  -webkit-transform: perspective(140px) rotateY(180deg);
			  transform: perspective(140px) rotateY(180deg);
	  opacity: 0; 
	} 
  }
  
  @keyframes sk-foldCubeAngle {
	0%, 10% {
	  -webkit-transform: perspective(140px) rotateX(-180deg);
			  transform: perspective(140px) rotateX(-180deg);
	  opacity: 0; 
	} 25%, 75% {
	  -webkit-transform: perspective(140px) rotateX(0deg);
			  transform: perspective(140px) rotateX(0deg);
	  opacity: 1; 
	} 90%, 100% {
	  -webkit-transform: perspective(140px) rotateY(180deg);
			  transform: perspective(140px) rotateY(180deg);
	  opacity: 0; 
	}
  }

  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.tint {
	width: 100%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
	background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.9) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#0d000000', GradientType=0);
}